@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
}

html, body{
    min-height: 100vh;
    background-color: darkgray; 
    font-family: var(--fonte1);
}

header{
    background-color: #222;
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 6.5vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition-duration: .3s;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section.normal{
    background-color: #fff;
    color: #222;
}

section.imagem{
    background-color: #555;
    box-shadow: inset 2px 2px 13px 0 rgba(0, 0, 0, 0.653);
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.228);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.281);
    display: inline-block;
    padding: 10px;
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
    background-image: url('../imagens/background002.jpg');
    
}

footer{
    background-color: #222;
    padding: 10px;
    text-align: center;
    color: #fff;
}